
.file-entry{
    padding: 5px;
    margin-bottom: 10px;
}
.center{
    align-content: center;
    width: 80%;
}
.list{
    padding: 10px;

}
.odd{
    /*background-color: #efefef;*/
}
.even{
    background-color: #fff;
}

.list-label{

}
.list-item{
    overflow-wrap: break-word;
}