<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${title})"></head>
<body>
<div th:replace="fragments/header :: header"> </div>
<th:block th:replace="fragments/header :: breadcumb (breadlist=${breadlist})"></th:block>
<!-- content -->
<div class="container-fluid">
    <!--/*@thymesVar id="directoryDto" type="com.example.filexplorer.dto.DirectoryDto"*/-->
    <form action="#" th:action="@{/fileregistry/add}" th:object="${directoryDto}" method="post">
        <p>Path: <input type="text" th:field="*{path}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

<th:block th:replace="fragments/header :: scripts"></th:block>
</body>
</html>